form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  background-color: aliceblue;
  margin: 2px;
}

button {
  background-color: rgb(92, 92, 255);
  margin: 5px;
  padding: 2px;
}
