.form-container {
  margin-bottom: 20px;
}

.show-hide-password {
  background-color: transparent;
  border: none;
  color: #98a6e6;
  cursor: pointer;
  font-size: 16px;
}

.show-hide-password:hover {
  text-decoration: underline;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
